@media (min-width: 768px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
}

.container-flex div {
  border: 1px #ccc solid;
  padding: 10px;
}

.boxes {
  /* flex: 1; */
  -webkit-filter: brightness(100%);
  flex-basis: 32%;
  height: 240px;
}

.boxes:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.mainPic {
  border-radius: 50%;
}

/* .box-2 {
  flex: 1;
}

.box-3 {
  flex: 1;
} */
