/* .navbar {
  opacity: 0;
} */

.navbar-brand {
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.nav-item {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.main-header {
  font-weight: normal;
}
