.jumbotron {
  opacity: 1;
}
.jumboname {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

/* .jumbotron {
  background-image: url("https://i.imgur.com/bGKkg2k.png");
  background-size: cover;
} */

img {
  border-radius: 50%;
}

a {
  color: inherit;
}
