.jumbotron {
  opacity: 1;
}
.jumboname {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

/* .jumbotron {
  background-image: url("https://i.imgur.com/bGKkg2k.png");
  background-size: cover;
} */

#main-picture {
  border-radius: 50%;
}

/* github icon */
.fa-github {
  color: inherit;
}

/* email icon */
.fa-envelope {
  font-size: 1.5rem;
}

#email {
  font-family: "Red Hat Display", sans-serif;
}
