@media (min-width: 768px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
}

#portfolio-container {
  visibility: hidden;
}

/* .portfolio-image {
  border-radius: 1%;
  opacity: 0.75;
  width: 355px;
  height: 240px;
} */
.boxes {
  -webkit-filter: brightness(100%);
  flex-basis: 32%;
  height: 240px;
}

.mainPic {
  border-radius: 50%;
}
